/* Chrome, Safari, Edge, Opera */
.form-wrapper input::-webkit-outer-spin-button,
.form-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-wrapper input[type='number'] {
  -moz-appearance: textfield;
}

.form-wrapper input,
.form-wrapper select {
  outline: none;
  border: none;
  font-size: 14px;
  padding: 4px;
}
.form-wrapper select {
  width: 180px;
}

.form-exchange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 24px;
}
